<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path%>">Demo App</a>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <%#= link_to_as_li "Home", root_path%>
        <%= link_to_as_li "Restaurants", restaurants_path%>
      <% end -%>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if current_user %>
      <li>
        <a href="#"><%= current_user.name %> - <%= options_for_city.select{|m| m['id'] == current_user.city }[0]["city"] %></a>
      </li>
      <li>
        <%= link_to logout_session_path(current_user), method: :delete do %>
          <span class="glyphicon glyphicon-log-in"></span> Log Out
        <% end -%>
      </li>
    <% else -%>
      <li>
        <%= link_to login_sessions_path do %>
          <span class="glyphicon glyphicon-log-in"></span> Login
        <% end -%>
      </li>
      <li>
        <%= link_to signup_sessions_path do %>
          <span class="glyphicon glyphicon-user"></span> Sign Up
        <% end -%>
      </li>
    <% end -%>
    </ul>
  </div>
</nav>